html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #222;
}

:focus {
    outline: none;
}

#main-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game-canvas {
    box-shadow: 0px 0px 0px 10px #ffffff;
    background-color: #000000;
    margin: 10px;
}

#menuBar {
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
#menuBar > span {
    width: 80px;
    height: 30px;
}

#scoreboard {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    color: #ffffff;
    margin: 0;
}

#button-container {
    display: flex;
}

.btn {
    width: 30px;
    height: 30px;
    margin: 0px 10px 0px 0px;
    border: 0;
    padding: 0;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
}
.btn:hover {
    color: #989898;
}

#volume {
    display: grid;
}

#volume_on {
    grid-column: 1;
    grid-row: 1;
    visibility: visible;
}
#volume_off {
    grid-column: 1;
    grid-row: 1;
    visibility: hidden;
}

.material-icons {
    font-size: xx-large;
}
